<div class="row">
  <form
    class="col-md-4 offset-md-4"
    #loginForm="ngForm"
    (ngSubmit)="handleLogin(loginForm)"
  >
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="email"
        ngModel
        #email="ngModel"
        [ngClass]="{
          'is-invalid': email.touched && email.invalid
        }"
        required
        email
      />
      <!-- email validation msg -->
      <div class="invalid-feedback">
        <div *ngIf="email.errors?.['required']">Email is Required</div>
        <div *ngIf="email.errors?.['email']">Email seems to be not valid</div>
      </div>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
        ngModel
        #password="ngModel"
        minlength="6"
        [ngClass]="{
          'is-invalid': password.touched && password.invalid
        }"
        required
      />
      <!-- password validation msg -->
      <div class="invalid-feedback">
        <div *ngIf="password.errors?.['required']">Password is Required</div>
        <div *ngIf="password.errors?.['minlength']">
          Password should have minimum 6 characters
        </div>
      </div>
      <label for="floatingPassword">Password</label>
    </div>

    <!-- disabling the button if form is invalid -->
    <button
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
    <div class="mt-3">
      <p>
        Not Registered?
        <a routerLink="/auth/signup">Signup Now for Free</a>
      </p>
    </div>
  </form>
</div>
